/**
 * @description This file styles all main steam windows
 * [Steam, Settings, Properties, Popups, Dialogs, ...]
 */
 @import url("./src/supernav.css");
 @import url("./src/library.css");
 @import url("./src/game.css");


 :root {
  --primary-bg-color: #0E141B;
  --secondary-bg-color: #393939;
  --tetiary-bg-color: #212B45;
  --border-radius: 12px;
  --accent-color: #66C0F4;
  --background-hover:  #0E141B;
  --accent-green: #A1CD44;
 }


.SVGIcon_Button {
  fill: var(--secondary-bg-color) !important;
}
