/**
 * @description This file styles all main steam windows
 * [Steam, Settings, Properties, Popups, Dialogs, ...]
 */
 @import url("./src/header.css");
 @import url("./src/library.css");
 @import url("./src/game.css");

 :root {
  --primary-bg-color: #d2dce9;
  --secondary-bg-color: #393939;
  --border-radius: 12px;
  --accent-color: rgba(115, 115, 186, 0.642);
 }


.SVGIcon_Button {
  fill: var(--secondary-bg-color) !important;
}
