/**
 * @description This file styles the steam store
 */

 /* Scrollbar */
*::-webkit-scrollbar {
  width: 14px !important;
  border-radius: 10px  !important;
  scrollbar-color: #66C0F4 #20252b  !important;
}

/* Track */
*::-webkit-scrollbar-thumb {
  border-radius: 8px !important;
  scrollbar-color: #66C0F4 #20252b  !important;
  background-color: #66C0F4 !important;
}