/** image hero blur */
._2OOzYVWIHaKXm6_7sscT9i .Jbe--NUNw7sxbxGsMSjVa {
  background: linear-gradient(to bottom, transparent 3%, var(--primary-bg-color));
  position: absolute;
  top: -242px;
  backdrop-filter: blur(0.5px);
  height: 450px;
}

/* play button  */
._3ydigb6zZAjJ0JCDgHwSYA,
._3cI5TXsFX3bvpR-7EBOtxq > ._2AzIX5kl9k6JnxLfR5H4kX {
  border-radius: 12px;
}

/* play button svg */
._3cI5TXsFX3bvpR-7EBOtxq > ._2AzIX5kl9k6JnxLfR5H4kX svg {
  fill: white !important;
}

/** play button container */
._1hhB2Wf7iExA15zh_lDQ_y ._3ydigb6zZAjJ0JCDgHwSYA {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

/** play button other options */
._2AzIX5kl9k6JnxLfR5H4kX._2q-gZ3XJzlvSGHSF-GvSmi {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
  
/* ._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS {
  border: 1px solid #c3c3c3;
} */
  
/* search bar */
._2TYVGoD27ZMfjRirKQNLfk, ._3pS8kMrtScuY1Qf-W8tmRV ._1nfJNsQjTOXSQQyFahGnRi {
  box-shadow: none;
}

/* search bar hover */
._34lrt5-Fc3usZU6trA1P0-,
._2TYVGoD27ZMfjRirKQNLfk, ._3pS8kMrtScuY1Qf-W8tmRV ._1nfJNsQjTOXSQQyFahGnRi:hover {
  box-shadow: none;
}
  
/* game hero */
.HNbe3eZf6H7dtJ042x1vM {
  mask: opacity(20%);
  mask: linear-gradient(#272E38 0%, #262D37 50%, #0E141B 100%);
} 
  
/* bar under Hero image */
.QlR9EFwTdUNm_J5vx54_Z,
._3DeO92O5aVkcdwEBCJDjWm._3fLo166MlaNqP8r8tTyRz {
  background: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
} 
  
/* image under Hero image */
.HNbe3eZf6H7dtJ042x1vM._3_IUVzR9tpG_JKEjhwXEAb {
  display: none;
}

/* image under Hero image */
.HNbe3eZf6H7dtJ042x1vM {
  mask-image: linear-gradient(to top, transparent, var(--primary-bg-color));
}

/* .HNbe3eZf6H7dtJ042x1vM._3_IUVzR9tpG_JKEjhwXEAb, 
.HNbe3eZf6H7dtJ042x1vM.HSQWw9HUAP6jtA2OZjS-u {
  display: none; 
} */

/** game details SVGs containers */
._3qDWQGB0rtwM3qpXTb11Q-  {
  background: transparent;
}

/* SVGs */
._3qDWQGB0rtwM3qpXTb11Q- svg:hover {
  fill: var(--accent-color);
  color: var(--accent-color);
}

/** game social menu */
._31ptFGGMZrSQc5BCX1e5lm ._3KfxIwlXEvum7FCD_AM2_t {
  border-radius: 12px;
}

  /* background: var(--primary-bg-color); */


/** game ocial container */
/* ._1YbtIWcfkQJOysLXQbwzRf ._1mDAVT4sTzFRwJtlKCw2Ws {
  position: fixed;
  top: -375px;
  left: 20px;
  border-radius: 50px;
} */

/** game social menu text */
/* .DY4_wSF8h9T5o46hO5I9V ._1b6LYWVijW-9E4YV0keDWZ ._2sNDjgK9EWiPLdNGkjun-w,
._3-V8vjmrwuJM6Ws3tsjFJj ._25f0fX6qbgdB7O_lMrbhCN {
  color: white;
} 

/* ._2OOzYVWIHaKXm6_7sscT9i>div {
  border-top-left-radius: 12px;  
  border-top-right-radius: 12px;  
} */

/* Cloud Status */
/* ._2cRYms-zZc4misk9tj3bt8 {
  background: var(--secondary-bg-color);
  border-radius: 50px;
  height: 30px;
} */

/* Cloud Status text */
/* ._2TYVGoD27ZMfjRirKQNLfk ._1nfJNsQjTOXSQQyFahGnRi,
._34lrt5-Fc3usZU6trA1P0- {
  display: none;
} */

/* Achievements box */
/* .UAhWiMg9Q2VPsQQBj_ikT {
  width: 150px;
  height: 30px;
  position: fixed;
  top: -37px;
  right: 10px;
  border-radius: 50px;
  padding-right: 10px;
  background-color: var(--secondary-bg-color);
} */

/* Achievements icon */
/* .UAhWiMg9Q2VPsQQBj_ikT svg {
  display: none;
} */

/* Achievements box text */
/* ._34lrt5-Fc3usZU6trA1P0-, 
._2TYVGoD27ZMfjRirKQNLfk, 
._3pS8kMrtScuY1Qf-W8tmRV 
._1nfJNsQjTOXSQQyFahGnRi  {
} */

/**
ACTIVITY
NEWS
CONTROLLER
FRIENDS WHO PLAY
Lower panel background
**/
._2OOzYVWIHaKXm6_7sscT9i .OhSdLYuggDtBcWjYP0j_9 {
background: var(--primary-bg-color);
} 

._1_cYNJSvS6IXs9vLTEYjy5 {
margin-top: 50px;
} 

/** Controller panel **/
._31ptFGGMZrSQc5BCX1e5lm ._2G5B7o_YoI__u11--EFjal ._3KfxIwlXEvum7FCD_AM2_t .Panel,
._31ptFGGMZrSQc5BCX1e5lm ._2G5B7o_YoI__u11--EFjal,
._31ptFGGMZrSQc5BCX1e5lm ._3KfxIwlXEvum7FCD_AM2_t {
background: var(--secondary-bg-color);
border-radius: 12px;
border: none;
}

/** game details bar **/
/* ._1EAxK56o5a9Nieu5HYkJ4k {
  position: relative;
  top: -96px;
  right: -18px;
  background: transparent;
  border-radius: 50px;
} */

/* ._3qDWQGB0rtwM3qpXTb11Q- svg {
  color: white !important;
}  */