/** body background */
div.HighPerfMode ._2l416KfEtI4CL0mCUEmOBw {
  background: var(--primary-bg-color);
}

/** image hero blur */
._2OOzYVWIHaKXm6_7sscT9i .Jbe--NUNw7sxbxGsMSjVa {
  background: linear-gradient(to bottom, transparent 3%, var(--primary-bg-color));
  position: absolute;
  top: -242px;
  backdrop-filter: blur(0.5px);
  height: 450px;
}

/* play button  */
/* install  */
._3cI5TXsFX3bvpR-7EBOtxq > ._2AzIX5kl9k6JnxLfR5H4kX {
  background: var(--accent-green);
}

._3cI5TXsFX3bvpR-7EBOtxq > ._2AzIX5kl9k6JnxLfR5H4kX:hover {
  filter: brightness(150%);
}

/* play button (play) svg */
:not(._1Pb6PMh_3L5p5NzuUz0Pp9)>._2AzIX5kl9k6JnxLfR5H4kX svg,
._3cI5TXsFX3bvpR-7EBOtxq > ._2AzIX5kl9k6JnxLfR5H4kX svg {
  fill: black !important;
}

/* play button (install) options svg */
polygon,
:not(._1Pb6PMh_3L5p5NzuUz0Pp9)>._2AzIX5kl9k6JnxLfR5H4kX svg,
/* play button (install) svg */
._3ydigb6zZAjJ0JCDgHwSYA svg {
  fill: black !important;
  color: black !important;
}

/** play button text **/
._3ydigb6zZAjJ0JCDgHwSYA ._33cnXIqTRgRr49_FNXIHj6 {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

/* search bar */
._2TYVGoD27ZMfjRirKQNLfk, ._3pS8kMrtScuY1Qf-W8tmRV ._1nfJNsQjTOXSQQyFahGnRi {
  box-shadow: none;
}

/* search bar hover */
._34lrt5-Fc3usZU6trA1P0-,
._2TYVGoD27ZMfjRirKQNLfk, ._3pS8kMrtScuY1Qf-W8tmRV ._1nfJNsQjTOXSQQyFahGnRi:hover {
  box-shadow: none;
}
  
/* game hero */
.HNbe3eZf6H7dtJ042x1vM {
  mask: opacity(20%);
  mask: linear-gradient(#272E38 0%, #262D37 50%, #0E141B 100%);
} 
  
/* bar under Hero image */
.QlR9EFwTdUNm_J5vx54_Z,
._3DeO92O5aVkcdwEBCJDjWm._3fLo166MlaNqP8r8tTyRz {
  background: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
} 
  
/* image under Hero image */
.HNbe3eZf6H7dtJ042x1vM._3_IUVzR9tpG_JKEjhwXEAb {
  display: none;
}

/* image under Hero image */
.HNbe3eZf6H7dtJ042x1vM {
  mask-image: linear-gradient(to top, transparent, var(--primary-bg-color));
}

/** game details SVGs containers */
._3qDWQGB0rtwM3qpXTb11Q-  {
  background: transparent !important;
}

/* SVGs */
._3qDWQGB0rtwM3qpXTb11Q- svg:hover {
  fill: var(--accent-color);
  color: var(--accent-color);
}

/** game social menu */
._31ptFGGMZrSQc5BCX1e5lm._3KfxIwlXEvum7FCD_AM2_t {
  background-color: #313843;
  border: none;
}

/** game info button */
._3qDWQGB0rtwM3qpXTb11Q- svg {
  fill: white !important;
}

/** game info container */
._25oBZpa3dUcMw8QAsa2u67._3s6_6sN8LyrlTHc_z6VfNU>div:not(._1FXWy2UilVZIppT-PetDWw) {
  background: var(--primary-bg-color);
  border-radius: 8px;
}

/** friends who play container */
._31ptFGGMZrSQc5BCX1e5lm._2G5B7o_YoI__u11--EFjal {
  background: var(--primary-bg-color);
  border-radius: 4px;
  outline: none;
}

/** News container **/
._3yTl3RiWfo-Itg-xp967wP {
  background: var(--primary-bg-color);
}

/** recent achievments container */
.UVeN0kaD3zv1feMj_mMw5 .NEMXhMlqXOCJwfgWlHXhT {
  margin-left: 0;
  margin-top: 8px;
  border-radius: 8px;
}

/** recent achievments profile picture */
._3h-QRJGxnVOIExtHD1R0f2 {
  border-radius: 50%;
}

/** notes container */
._5uvIN6jXDXzzck59F-nhv {
  background: #313843;
}

/**
ACTIVITY
NEWS
CONTROLLER
FRIENDS WHO PLAY
Lower panel background
**/
._2OOzYVWIHaKXm6_7sscT9i .OhSdLYuggDtBcWjYP0j_9 {
background: var(--primary-bg-color);
} 

/** Controller panel **/
._31ptFGGMZrSQc5BCX1e5lm ._2G5B7o_YoI__u11--EFjal ._3KfxIwlXEvum7FCD_AM2_t .Panel,
._31ptFGGMZrSQc5BCX1e5lm ._2G5B7o_YoI__u11--EFjal,
._31ptFGGMZrSQc5BCX1e5lm ._3KfxIwlXEvum7FCD_AM2_t {
background: var(--secondary-bg-color);
border-radius: 12px;
border: none;
}

/* Cloud Status */
/* ._2cRYms-zZc4misk9tj3bt8 {} */

/* Cloud Status text */
/* ._2TYVGoD27ZMfjRirKQNLfk ._1nfJNsQjTOXSQQyFahGnRi,
._34lrt5-Fc3usZU6trA1P0- {} */

/* Achievements box */
/* .UAhWiMg9Q2VPsQQBj_ikT {} */

/* Achievements icon */
/* .UAhWiMg9Q2VPsQQBj_ikT svg  } */

/* Achievements box text */
/* ._34lrt5-Fc3usZU6trA1P0-, 
._2TYVGoD27ZMfjRirKQNLfk, 
._3pS8kMrtScuY1Qf-W8tmRV 
._1nfJNsQjTOXSQQyFahGnRi  {
} */
