 ._1ENHEsrSLcTRtPQFl1F-wL ._1DvwQt0JN-Ogp_4tVZdkzX
._3lDczhulqraStjCitLYJ1K ._2l416KfEtI4CL0mCUEmOBw ._3FmxxjyWNHU1PrBGnBe6tm {
  background: var(--primary-bg-color);
}

 /* Header Menu */ 
._3Z7VQ1IMk4E3HsHvrkLNgo {
  background: var(--primary-bg-color);
}

/* Header Menu -- Menu options */
._2UyOBeiSdBayaFdRa39N2O {
  color: black;
}

/* Header Menu -- Large menu options */
._7AlhCx3XGzBeIrQaCneUD ._19axKcqYRuaJ8vdYKYmtTQ {
  color: black;
}

/* Changes bar color main menu */
.RGNMWtyj73_-WdhflrmuY ._2CmrnGY-Amtd83ScJkFvx2 {
  background: var(--primary-bg-color);
}
