 
/* .RGNMWtyj73_-WdhflrmuY._3WJCt_OkjPA6npxOtguSt5 ._2CmrnGY-Amtd83ScJkFvx2,
._1ENHEsrSLcTRtPQFl1F-wL._1DvwQt0JN-Ogp_4tVZdkzX {
  background: none;
  box-shadow: none;
 } */

 /* ._1ENHEsrSLcTRtPQFl1F-wL ._1DvwQt0JN-Ogp_4tVZdkzX
._3lDczhulqraStjCitLYJ1K ._2l416KfEtI4CL0mCUEmOBw ._3FmxxjyWNHU1PrBGnBe6tm {
  background: var(--primary-bg-color);
} */

 /* Header Menu */ 
/* ._3Z7VQ1IMk4E3HsHvrkLNgo {
  height: 33px;
  background: var(--primary-bg-color);
} */

/* Header Menu -- Menu options */
/* ._2UyOBeiSdBayaFdRa39N2O {
  color: white;
} */

/* Header Menu -- Large menu options */
/* ._7AlhCx3XGzBeIrQaCneUD ._19axKcqYRuaJ8vdYKYmtTQ {
  color: white;
} */

/* Header Menu container -- STORE, LIBRARY ETC */
/* ._3Z3ohQ8-1NKnCZkbS6fvy {
  position: relative;
  bottom: 30px;
  left: 420px; 
  width: 500px;
} */

/* ._2D64jIEK7wpUR_NlObDW76 {
  height: 57px;
} */

/* Header Menu text hover -- STORE, LIBRARY ETC */
/* ._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:not(._2cO0HdvLEGAdhosLekWsmo) ._19axKcqYRuaJ8vdYKYmtTQ {
  background: var(--accent-color);
} */

/* .._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:not(._2cO0HdvLEGAdhosLekWsmo) ._19axKcqYRuaJ8vdYKYmtTQ::after {
  display: none;
} */

/* Changes bar color main menu */
/* .RGNMWtyj73_-WdhflrmuY ._2CmrnGY-Amtd83ScJkFvx2 {
  background: var(--primary-bg-color);
} */

