/* under supernav */
.RGNMWtyj73_-WdhflrmuY ._2CmrnGY-Amtd83ScJkFvx2 {
  height: 45px;
  background: var(--tetirary-bg-color);
}

/* library background */
._1ijTaXJJA5YWl_fW2IxcaT .ReactVirtualized__Grid {
  background: #20252b;
}

/* library border */
._276E6ijBpjMA2_iTxNhhjc {
  width: 1px;
  background-color: #262C34;
}

/* Library search bar container */
._20QAC4WMXm8qFE8waUT5oo {
  width: 35%;
  position: fixed;
  top: 40.5px;
  left: 23%;
  z-index: 500;
}

/* Library search bar */
._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase {
  background: var(--background-hover);
  color: white;
  border: none;
}

.DialogInput_ClearAction svg {
  fill: white !important;
  color: white;
}

/* Game/Software library list header */
._2sYIghGVXJr6tsQVvcryy8 .ehAsUVkW87U5OHZJohB5N .Focusable {
  background: none;
}

/** search bar hover **/
/* ._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase:hover {
  background: var(--primary-bg-color);
  color: black;
  box-shadow: none;
} */

/* ._2sYIghGVXJr6tsQVvcryy8 .sXMOsx8OIRalBMxO9yFY5:hover {
  background: var(--secondary-bg-color);
} */

/* All banner/button svg */
/* ._3cV3O8FnPQqpJO5kIMUlLX {
  color: white;
} */

/* All banner/button text */
/* ._3cV3O8FnPQqpJO5kIMUlLX {
  color: black;
} */


/* Game Profile -- Home and Collections Menu */
._3pSPluBgf0NeR1kkCLWMhR,
._3pSPluBgf0NeR1kkCLWMhR:hover,
._2TKEazUUS3TlniZfpc8OOe,
._3pSPluBgf0NeR1kkCLWMhR.eNLOx4LVceeMwRvTVWh3 {
  background: var(--tetiary-bg-color);
}

/* Home + Collections container */
._2TKEazUUS3TlniZfpc8OOe {
  height: 32px;
  padding: 0;
  position: fixed;
  top: 47px;
  left: 1%;
  background: var(--tetiary-bg-color);
  box-shadow: none;
  z-index: 400;
}

/* game catories container */
._1ZS_xta5HMXzR8JgxDH6n7 {
  position: fixed;
  top: 38px;
  left: 6%;
  z-index: 400; 
}

.eNLOx4LVceeMwRvTVWh3 ._3O48LaKWcabKx07xdrt1TH,
._3O48LaKWcabKx07xdrt1TH  {
  color: white;
} 

/* Game and software container */
 ._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC {
  width: 143px;
  background: var(--background-hover);
}

/* Game and software container */
._2sYIghGVXJr6tsQVvcryy8.sXMOsx8OIRalBMxO9yFY5 {
  background: none;
}

/* Game library list container */
/* ._1ijTaXJJA5YWl_fW2IxcaT .ReactVirtualized__Grid {
  height: calc(765px - 44px);
} */

/* Game library list */
/* ._9sPoVBFyE_vE87mnZJ5aB ._3x1HklzyDs4TEjACrRO2tB {
  background: var(--primary-bg-color);
} */


/* Game List item not highlighted */
/* ._2-O4ZG0KrnSrzISHBKctFQ._5YTBr7WwIfzVU_3nUtAph {
  color: var(--secondary-bg-color);
} */

/* Game list item highlighted */
/* ._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ, ._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ {
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
} */

/* Game Profile -- game list item installed */
/* ._2-O4ZG0KrnSrzISHBKctFQ._2ws8DONH9fxQjPXEmRpujE {
  color: black;
} */

/* ._2-O4ZG0KrnSrzISHBKctFQ {
  color: var(--secondary-bg-color);
} */
