/* Library search bar */
._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase {
  background: var(--main-bg-color);
}

/* All banner/button */
._2sYIghGVXJr6tsQVvcryy8,
._2sYIghGVXJr6tsQVvcryy8 .sXMOsx8OIRalBMxO9yFY5 {
  background: var(--main-bg-color);
  border-bottom: 1px solid var(--secondary-bg-color);
}

._2sYIghGVXJr6tsQVvcryy8:hover {
  background: var(--secondary-bg-color);
}

/* All banner/button svg */
._3cV3O8FnPQqpJO5kIMUlLX {
  color: black;
}

/* All banner/button text */
._3cV3O8FnPQqpJO5kIMUlLX {
  color: black;
}

/* bar under Hero image */
.QlR9EFwTdUNm_J5vx54_Z,
._3DeO92O5aVkcdwEBCJDjWm._3fLo166MlaNqP8r8tTyRz {
  background: var(--main-bg-color);
}

/* Game Profile -- Home and Collections Menu */
._3pSPluBgf0NeR1kkCLWMhR,
._3pSPluBgf0NeR1kkCLWMhR:hover,
._2TKEazUUS3TlniZfpc8OOe,
._3pSPluBgf0NeR1kkCLWMhR.eNLOx4LVceeMwRvTVWh3 {
  background: none;
}

.eNLOx4LVceeMwRvTVWh3 ._3O48LaKWcabKx07xdrt1TH,
._3O48LaKWcabKx07xdrt1TH  {
  color: black;
}

._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC {
  background: var(--secondary-bg-color);
}

/* Game Profile -- changes game library list */
._9sPoVBFyE_vE87mnZJ5aB ._3x1HklzyDs4TEjACrRO2tB {
  background: var(--main-bg-color);
}

/* Game Profile -- game list item not highlighted */
._2-O4ZG0KrnSrzISHBKctFQ._5YTBr7WwIfzVU_3nUtAph {
  color: var(--secondary-bg-color);
}

/* Game Profile -- game list item highlighted */
._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ, ._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ {
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

/* Game Profile -- game list item installed */
._2-O4ZG0KrnSrzISHBKctFQ._2ws8DONH9fxQjPXEmRpujE {
  color: var(--accent-color);
}

._2-O4ZG0KrnSrzISHBKctFQ {
  color: var(--secondary-bg-color);
}

/* Game Profile -- play button */
._3ydigb6zZAjJ0JCDgHwSYA {
  border-radius: var(--border-radius);
}

/* Game Profile -- play button icon */
._3cI5TXsFX3bvpR-7EBOtxq > ._2AzIX5kl9k6JnxLfR5H4kX svg {
  fill: white;
}


/* Game Profile -- space required */
._34lrt5-Fc3usZU6trA1P0-,
._2TYVGoD27ZMfjRirKQNLfk, ._3pS8kMrtScuY1Qf-W8tmRV ._1nfJNsQjTOXSQQyFahGnRi {
  color: var(--secondary-bg-color);
}

/** Game Profile -- SVGs */
._3qDWQGB0rtwM3qpXTb11Q- svg {
  fill: var(--secondary-bg-color);
  color: var(--secondary-bg-color);
}

/** Game Details -- SVGs */
._3qDWQGB0rtwM3qpXTb11Q- svg:hover {
  fill: var(--accent-color);
  color: var(--accent-color);
}

/** Game Details -- game social menu */
._25f0fX6qbgdB7O_lMrbhCN,
._3-V8vjmrwuJM6Ws3tsjFJj {
  background: var(--secondary-bg-color);
}

._3-V8vjmrwuJM6Ws3tsjFJj {
  background: var(--main-bg-color);
}

/** Game Details -- game social menu text */
.DY4_wSF8h9T5o46hO5I9V ._1b6LYWVijW-9E4YV0keDWZ ._2sNDjgK9EWiPLdNGkjun-w {
  color: white;
}