  /* RESET STYLES */
.RGNMWtyj73_-WdhflrmuY._3WJCt_OkjPA6npxOtguSt5 ._2CmrnGY-Amtd83ScJkFvx2,
._1ENHEsrSLcTRtPQFl1F-wL._1DvwQt0JN-Ogp_4tVZdkzX {
  box-shadow: none;
  background: var(--tetiary-bg-color);
}
 
._1ENHEsrSLcTRtPQFl1F-wL ._1DvwQt0JN-Ogp_4tVZdkzX
._3lDczhulqraStjCitLYJ1K ._2l416KfEtI4CL0mCUEmOBw ._3FmxxjyWNHU1PrBGnBe6tm {
  background: var(--primary-bg-color);
}

._3Z3ohQ8-1NKnCZkbS6fvy {
  position: absolute;
  top: 5px;
  left: 276px;
}
 
._3Z3ohQ8-vi {
  height: 20px;
  position: absolute;
  top: 7px;
  left: 296px;
}
 
/* Header Menu */ 
._3Z7VQ1IMk4E3HsHvrkLNgo {
  height: 41px;
  background: var(--primary-bg-color);
}

._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:not(._2cO0HdvLEGAdhosLekWsmo) ._19axKcqYRuaJ8vdYKYmtTQ::after {
  display: none;
}

/** STORE LIBRARY header nav items container */
._39oUCO1OuizVPwcnnv88no ._30vB9DdsPK7VrZAbb5Q1Av {
  height: 35px;
  position: fixed;
  top: 7px;
  left: 32%;
}

/** STORE LIBRARY nav arrows */
._2D64jIEK7wpUR_NlObDW76 {
  margin-left: 30%;
}

/** STORE LIBRARY nav arrows */
._25lBLzuVeYAUG279up4xP8 svg {
  position: relative;
  bottom: 10px;
}

/** NOTIFICATIONS, PROFILE IMAGE container */
._3cykd-VfN_xBxf3Qxriccm {
  margin-left: auto !important;
}

/** profile picture */
.online img {
  border-radius: 50%;  
}

/** profile picture container */
._3yD46y5pd3zOGR7CzKs0mC.offline,
._3yD46y5pd3zOGR7CzKs0mC.online {
  background: none;
}

/** profile picture name, border */
.offline ._3xUpb5DWXPFNcHHIcv-9pe,
.offline > div:nth-child(2),
.offline svg,
.online ._3xUpb5DWXPFNcHHIcv-9pe,
.online > div:nth-child(2),
.online svg {
  display: none;
  background: none;
}

/** announcements and notifications container */
.RtSv39ZoBOySnb8XQ5hJf,
._5wILZhsLODVwGfcJ0hKmJ,
._5wILZhsLODVwGfcJ0hKmJ:hover {
  background: transparent !important;
  padding-right: 0;
  padding-left: 5px;
}
