 
 /* RESET STYLES */
 .RGNMWtyj73_-WdhflrmuY._3WJCt_OkjPA6npxOtguSt5 ._2CmrnGY-Amtd83ScJkFvx2,
 ._1ENHEsrSLcTRtPQFl1F-wL._1DvwQt0JN-Ogp_4tVZdkzX {
   background: none;
   box-shadow: none;
  }
 
  ._1ENHEsrSLcTRtPQFl1F-wL ._1DvwQt0JN-Ogp_4tVZdkzX
 ._3lDczhulqraStjCitLYJ1K ._2l416KfEtI4CL0mCUEmOBw ._3FmxxjyWNHU1PrBGnBe6tm {
   background: var(--primary-bg-color);
 }
 
 ._3Z3ohQ8-1NKnCZkbS6fvy {
   height: 33px;
   position: absolute;
   top: -28px;
   left: 296px;
 }
 
  /* Header Menu */ 
 ._3Z7VQ1IMk4E3HsHvrkLNgo {
   height: 41px;
   background: var(--primary-bg-color);
 }
 
  /* Header Menu */ 
 ._39oUCO1OuizVPwcnnv88no {
   position: relative;
   top: 2.5px;
 }
 
 /* Header Menu -- Large menu options */
 /* ._7AlhCx3XGzBeIrQaCneUD ._19axKcqYRuaJ8vdYKYmtTQ {
   color: white;
 } */
 
 /* Header Menu container -- STORE, LIBRARY ETC */
 /* ._3Z3ohQ8-1NKnCZkbS6fvy {
   position: relative;
   bottom: 30px;
   left: 420px; 
   width: 500px;
 } */
 
 /* Header Menu text hover -- STORE, LIBRARY ETC */
 /* ._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:not(._2cO0HdvLEGAdhosLekWsmo) ._19axKcqYRuaJ8vdYKYmtTQ {
   background: var(--accent-color);
 } */
 
 ._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:not(._2cO0HdvLEGAdhosLekWsmo) ._19axKcqYRuaJ8vdYKYmtTQ::after {
   display: none;
 }
 
 /* Changes bar color main menu */
 /* .RGNMWtyj73_-WdhflrmuY ._2CmrnGY-Amtd83ScJkFvx2 {
   background: var(--primary-bg-color);
 } */
 
 