  /* RESET STYLES */
.RGNMWtyj73_-WdhflrmuY._3WJCt_OkjPA6npxOtguSt5 ._2CmrnGY-Amtd83ScJkFvx2,
._1ENHEsrSLcTRtPQFl1F-wL._1DvwQt0JN-Ogp_4tVZdkzX {
  box-shadow: none;
  background: var(--tetiary-bg-color);
}
 
._1ENHEsrSLcTRtPQFl1F-wL ._1DvwQt0JN-Ogp_4tVZdkzX
._3lDczhulqraStjCitLYJ1K ._2l416KfEtI4CL0mCUEmOBw ._3FmxxjyWNHU1PrBGnBe6tm {
  background: var(--primary-bg-color);
}

._3Z3ohQ8-1NKnCZkbS6fvy {
  position: absolute;
  top: 8px;
  left: 276px;
}
 
._3Z3ohQ8-vi {
  height: 20px;
  position: absolute;
  top: 7px;
  left: 296px;
}
 
/* Header Menu */ 
._3Z7VQ1IMk4E3HsHvrkLNgo {
  height: 41px;
  background: var(--primary-bg-color);
}

._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:not(._2cO0HdvLEGAdhosLekWsmo) ._19axKcqYRuaJ8vdYKYmtTQ::after {
  display: none;
}

._2D64jIEK7wpUR_NlObDW76 {
  position: relative;
  top: -3px;
}